**OPERATOR**

1. operator matematika

In [ ]:
a = 10
b = 5

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

15
5
50
2.0
0

2. operator pembanding

In [ ]:
a = 10
b = 5

print(a == b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a != b)

False
True
False
True
False
True

3. operator logika

In [ ]:
a = 10
b = 5

print(a >= b and a > b) # harus benar keduanya
print(a == b or a < b) # salah satu bisa benar
print(not a > b) # membalikan

True
False
False

**PENGKONDISIAN**

In [ ]:
a = 7

if a > 8:
  print("ya")
else:
  print("no")

1. nested if

In [ ]:
a = 4

if a > 5:
  print("ya")
  if a == 10:
    print("ya, sama")
  else:
    print("nope")
else:
  print("no")

2. else if

In [ ]:
isHujanDeras = False
isGerimis = True

if isHujanDeras == True:
  print("dirumah saja")
elif isGerimis == True and isHujanDeras == False:
  print("ke kampus, bawa payung")
else:
  print("ke kampus")

**LOOPING**

1. for loop

In [ ]:
for i in range(1, 5):
  print(i)

print()

# nested loop

for z in range(1, 5):
  for y in range(1, 6):
    print(f"nilai z = {z} nilai y = {y}")

1
2
3
4

nilai z = 1 nilai y = 1
nilai z = 1 nilai y = 2
nilai z = 1 nilai y = 3
nilai z = 1 nilai y = 4
nilai z = 1 nilai y = 5
nilai z = 2 nilai y = 1
nilai z = 2 nilai y = 2
nilai z = 2 nilai y = 3
nilai z = 2 nilai y = 4
nilai z = 2 nilai y = 5
nilai z = 3 nilai y = 1
nilai z = 3 nilai y = 2
nilai z = 3 nilai y = 3
nilai z = 3 nilai y = 4
nilai z = 3 nilai y = 5
nilai z = 4 nilai y = 1
nilai z = 4 nilai y = 2
nilai z = 4 nilai y = 3
nilai z = 4 nilai y = 4
nilai z = 4 nilai y = 5

2. while loop

In [ ]:
n = 0
while n <= 5:
  print(n)
  n = n + 1

0
1
2
3
4
5

**BREAK & CONTINUE**

1. break

In [ ]:
for x in range(1,10):
  print(x)
  if x == 2:
    print("berhenti")
    break

1
2
berhenti

2. continue

In [ ]:
for n in range(1,10):
  if n % 2 == 0:
    continue
  print(n)

1
3
5
7
9

3. gabungan

In [ ]:
for y in range(1,10):
  if y == 9:
    print("program berhenti di angka 9")
    break
  if y % 2 == 0:
    continue
  print(y)

1
3
5
7
program berhenti di angka 9

**FUNCTION**

1. function tanpa parameter

In [ ]:
def halo():
  print("halo dunia")

halo()

halo dunia

2. function dengan parameter

In [ ]:
def sapa(nama):
  print(f"halo {nama}, apa kabar?")

sapa("rey")
sapa("han")

halo rey, apa kabar?
halo han, apa kabar?

3. function dengan return

In [ ]:
# satu return
def tambah(num1, num2):
  hasil = num1 + num2

  return hasil

a = tambah(5, 5)
print(f"hasil penjumlahan: {a}")

print("")

# banyak return
def aritmatika(x, y):
  return x+y, x-y, x*y

a, b, c = aritmatika(5, 5)
print(
    f"nilai a: {a}\n"
    f"nilai b: {b}\n"
    f"nilai c: {c}"
)

print("")

_, b, _ = aritmatika(10, 3)
print(f"nilai b: {b}")

a, _, _ = aritmatika(10, 3)
print(f"nilai a: {a}")

_, _, c = aritmatika(10, 3)
print(f"nilai c: {c}")

hasil penjumlahan: 10

nilai a: 10
nilai b: 0
nilai c: 25

nilai b: 7
nilai a: 13
nilai c: 30

4. function dengan nilai default

In [ ]:
def default(nama="user"):
  print(f"halo {nama}")

default() # pakai nama di parameter
default("rey")  # pakai nama yg dibuat sendiri

halo user
halo rey

5. function dengan banyak parameter

In [ ]:
def bio(nama, umur, jurusan):
  print(
      f"nama: {nama}\n"
      f"umur: {umur}\n"
      f"jurusan: {jurusan}"
  )

bio("rey", "20", "teknik informatika")

nama: rey
umur: 20
jurusan: teknik informatika

**ARRAY**

1. array dasar

In [ ]:
# array sederhana
num = [5, 10, 15, 20, 25]

print(num)
print(num[0])
print(num[-1])

print("")

# operasi dasar
num = [10, 15, 20]

# tambah elemen
num.append(30)
num.insert(1, 13) # tambah di index ke-1
print(num)

# hapus elemen
num.remove(20) # hapus berdasarkan nilai
del num[2] # hpus berdasarkan index
print(num)

# update elemen
num[0] = 11
print(num)

print("")

# looping isi list
num = [1, 2, 3, 4, 5]

for x in num:
  print(x)

[5, 10, 15, 20, 25]
5
25

[10, 13, 15, 20, 40]
[10, 13, 40]
[11, 13, 40]

1
2
3
4
5

2. array dari modul array

In [ ]:
# i = integer, f = float
import array

arr = array.array('i', [1, 2, 3, 4, 5])

print(arr)
print(arr[1])

arr.append(6)
print(arr)

arr.remove(3)
print(arr)

array('i', [1, 2, 3, 4, 5])
2
array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 2, 4, 5, 6])

3. array 2D

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix[0][1])

for baris in matrix:
  for val in baris:
    print(val, end=" ")

2
1 2 3 4 5 6 7 8 9

4. array hitung total

In [ ]:
angka = [3, 4, 6, 8, 11, 17, 21]

total = sum(angka)
terbesar = max(angka)
terkecil = min(angka)

print(f"total: {total}")
print(f"terbesar: {terbesar}")
print(f"terkecil: {terkecil}")

total: 70
terbesar: 21
terkecil: 3

**CLASS**

1. class sederhana

In [3]:
class kota:
  # konstruktor (dipanggil saat bikin object)
  def __init__(self, namaKota, provinsi):
    self.namaKota = namaKota
    self.provinsi = provinsi

  # # diskontruktor (menghancurkan object)
  # def __del__(self):
  #   print("diskontruktor dipanggil")

  # method (fungsi dalam class)
  def object(self):
    print(
        f"nama kota: {self.namaKota}\n"
        f"provinsi: {self.provinsi}\n"
    )

# instance (membuat object)
kota1 = kota("palu", "sulawesi tengah")
kota2 = kota("jakarta", "dki jakarta")
kota3 = kota("bandung", "jawa barat")
kota4 = kota("surabaya", "jawa timur")

kota1.object()
kota2.object()
kota3.object()
kota4.object()

nama kota: palu
provinsi: sulawesi tengah

nama kota: jakarta
provinsi: dki jakarta

nama kota: bandung
provinsi: jawa barat

nama kota: surabaya
provinsi: jawa timur

2. atribut dan method tambahan

In [6]:
class mahasiswa:
  def __init__(self, nama, nim, jurusan, prodi, semester):
    self.nama = nama
    self.nim = nim
    self.jurusan = jurusan
    self.prodi = prodi
    self.semester = semester

  def perkenalan(self):
    print(f"halo, nama saya {self.nama}, nim saya {self.nim}. saya dari jurusan {self.jurusan}, prodi {self.prodi} semester {self.semester}")

  def up_semester(self):
    self.semester += 1
    print(f"{self.nama} sekarang naik ke semester {self.semester}")

mhs1 = mahasiswa("reyhan", "f55123095", "teknologi informasi", "S1-teknik informatika", 5)
mhs2 = mahasiswa("hanif", "f55123096", "teknologi informasi", "S1-teknik informatika", 7)
mhs3 = mahasiswa("sucipto", "f55123097", "teknologi informasi", "S1-sistem informasi", 3)

mhs1.perkenalan()
mhs2.perkenalan()
mhs3.perkenalan()
mhs1.up_semester()

halo, nama saya reyhan, nim saya f55123095. saya dari jurusan teknologi informasi, prodi S1-teknik informatika semester 5
halo, nama saya hanif, nim saya f55123096. saya dari jurusan teknologi informasi, prodi S1-teknik informatika semester 7
halo, nama saya sucipto, nim saya f55123097. saya dari jurusan teknologi informasi, prodi S1-sistem informasi semester 3
reyhan sekarang naik ke semester 6